################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Services/Catalog/Catalog.API/GolobalUsing.cs
